@(message: String)

@main("TeekTak Welcome page") {
	<div data-ng-controller="SearchController">
        <!-- input data-ng-model="input" data-ng-change="doSearch(input)" autofocus -->
        <!-- h2>There are {{results.length}} clients</h2 -->
        <h2>Your clients:</h2>
        
        <table>
         <tr><th>Name</th><th>Address</th><th>Phone</th></tr>
         <tr data-ng-repeat="client in results.clients">
             <td>{{client.name}}</td>
             <td>{{client.street}}</td>
             <td>{{client.phone1}}</td>
         </tr>
        </table>
    </div>
   
}
